.App {
  text-align: center;
  background-color: black!;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: bisque;
}
.App {
  background-image: url('./Images/foggybackground.jpg');
  /* Full height */
  min-height: 100vh;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
